
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

body{
  font-family: 'Roboto Condensed', sans-serif;
}

.main {
  padding-top: 60px;
}

.banner {

}

.btnnew{
  padding-top: 3px !important;
}

.btn-search{
  background-image: url(/img/icon.png);
  border: none;
  width: 38px;
  height: 32px;
}

.book-thumbnail > img{
  width:138px;
  height:230px;
}

.navbar-default{
  background-color: #fff;
  border-bottom: 1px solid #bdefdc ;
  padding-bottom: 11px;
}

.nav.navbar-nav li a{
  color: #22b879;
}

.nav.navbar-nav li a:hover{
  color: #22b879;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
  color: #22b879;
  background-color: #F6FAF8;
}

.dropdowul.open ul{
  border-color: #22b879;
}

.navbar-brand > img {
  margin-top: -7px;
}

.btnnew-default{

  height: 34px;
  font-weight: 400;
  background-color: #22b879 !important;
  border-color: #3eaa7b !important;
  color: #fff !important;
  text-transform: uppercase;
}

.nav > li > a {
  margin-top: 10px;
  margin-left: 10px;
  padding-top: 6px !important;
}

.form-inline .input-group > .form-control {
  width: 170px;
  height: 32px;
  margin-top: 12px;
  margin-right:80px !important;
}

.input-group-addon {
  position: relative;
  left: -93px;
  top: 6px;
  height: 32px;
  background-color: transparent;
  border: none;
  border-radius: 4px;
}

.notification {
  border-bottom: 2px solid #9bdabe;
}

.notification p.price {
  font-size: 1.5em;
  font-weight: 400;
  text-transform: uppercase;
  color: #358d64;
  margin-bottom: -12px;
}

.notification .price span {
  font-size: 0.7em;
  text-transform: uppercase;
  color: #358d64;
}

.notification p span {
  display: inline;
  font-size: 1em;
  font-weight: 400;
  text-align: center;
  text-transform: uppercase;
  color: #999999;
  margin-top: 8px;
}

img.icons {
  width: 19px;
  margin-bottom: 4px;
}

img.icons_p{
  width: 24px;
}

.info h2{
  font-size: 2em;
  font-weight: 300;
  color: #358d64;
  margin-top: 40px;
}

.info p{
  font-size: 1.2em;
  font-weight: 400;
  color: #777;
}

.info span{
  font-weight: 300;
  text-transform: uppercase;
  color: #777;
  padding-top: 20px;
}

.info .btn-default{
  text-transform: none;
  font-size: 1.2em;
  font-weight: 400;
  background-color: #777 !important;
  border-color: #888 !important;
}

.author{
  border-bottom: 1px solid #9a9a9a;
  margin-bottom: 30px;
}

.author p{
  position: relative;
  top: -28px;
  left: 50px;
  font-weight: 400;
  color: #358d64;
}

.info{
  margin-bottom: 30px;
}

.progress.progress-book{
  margin-top: 25px;
  height: 10px;
}

.info .updated{
  font-size: 1em;
  font-weight: 100;
  text-transform: uppercase;
}

.info p.price_p{
  font-size: 1.6em;
  font-weight: 400;
  text-transform: uppercase;
  color: #000;
  margin-bottom: -2px;
  margin-top: 25px;
}


.info p.price {
  font-size: 1.6em;
  font-weight: 400;
  text-transform: uppercase;
  color: #358d64;
  margin-bottom: -2px;
}

.progress-bar-success {
  background-color: #63c599;
}

.progress-bar-info {
  background-color: #b3b3b3;
}

.info .progress span, .info .progress span {
  font-size: 1.5em;
  font-weight: 300;
  color: #fff;
  top: 5px;
}

.info .pgs p{
  font-size: 1.4em;
  font-weight: 400;
  color: #838383;
}

.btn-success.btn-cpr {
  font-size: 1.2em;
  padding: 0 30px 5px 30px;
  color: #fff;
  background-color: #2fb177;
  border-color: #2fb177;
}

.shadow {
  height: 10px;
  background-image: linear-gradient(to bottom, #fff, #e8e8e8);
  border-radius: 50%;
}

.sub-info h2{
  font-size: 2.5em;
  font-weight: 400;
  color: #777;
  margin-top: 15px;
}

.sub-info p{
  font-size: 1.2em;
  font-weight: 400;
  color: #777;
  margin-top: 40px;
}

.feedback{

}

.feedback h4{
  text-transform: uppercase;
}

.feedback img{
  width: 16px;
}

.feedback span{
  display: block;
  color: #1baaff;
  margin-bottom: 10px;
}

.feedback span:nth-child(3){
  margin-bottom: 25px;
}

.feedback .social {
  width: 42px;
}

.feedback .btn-default {
  width: 90%;
  font-size: 1.2em;
  margin-top: 15px;
  margin-left: -15px;
  background-color: #999999 !important;
  border-color: #999999 !important;
  text-transform: none;
}

.jumbotron {
  padding-top: 0;
  background-color: #f4f4f4;
}

.summary h2{
  font-size: 2.5em;
  font-weight: 400;
  color: #777;
  margin-top: 30px;
}

.summary ul {
  list-style: none;
}

.summary ul li{
  font-size: 1.2em;
  font-weight: 400;
  color: #777;
}

.summary a{
  color: #777;
  text-decoration: underline;
}

.about h2{
  font-size: 2.5em;
  font-weight: 400;
  color: #777;
  margin-top: -40px;
}

.about .name{
  font-size: 2.5em;
  font-weight: 400;
  color: #777;
  margin-top: 40px;
}

.about img{
  padding-top: 45px;
}

.about p{
  font-size: 1.2em;
  font-weight: 400;
  color: #777;
  margin: 20px 0;
  padding-top: 20px;
  border-top: 1px solid #999;
}

footer{
  background-color: #2fb177;
  clear:both;
}

footer p{
  padding: 20px 0;
  font-size: 1.2em;
  font-weight: 400;
  color: #fff;
}

.jumbotron{
  background:#f7f7f7 url(../img/background.png) no-repeat top center;
  height:355px;
  overflow: none;
  margin-top: -89px;
  color: #007b47;
}

.jumbotron h1{
  font-size: 3.3em;
  font-weight: bold;
  margin-top: 50px;
}

.jumbotron p{
  font-weight: 400;
  color: #238a5e;
}

.jumbotron hr{
  color: #238a5e;
  background-color: #238a5e;
  width: 6%;
  height: 1px;
}

.jumbotron span{
  font-weight: 400;
  color: #7eae95;
}

.jumbotron .btn-success {
  font-size: 1.2em;
  text-transform: uppercase;
  color: #fff;
  background-color: #007b47;
  border-color: #007b47;
  padding: 3px 20px;
}

.jumbotron.content{
  background: none;
}

.list-group-item.disabled,
.list-group-item.disabled:hover,
.list-group-item.disabled:focus {
  font-size: 1.4em;
  font-weight: 300;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  cursor: not-allowed;
  background-color: #007b47;
}

.list-group {
  margin: 60px 20px 20px -20px;

}

a.list-group-item,
button.list-group-item {
  font-size: 1.2em;
  font-weight: 300;
  color: #76ae93;
  background-color: #eaf4f0;
  border: 1px solid #a1d7bf;
}

a.list-group-item:hover,
button.list-group-item:hover,
a.list-group-item:focus,
button.list-group-item:focus {
  color: #76ae93;
  text-decoration: none;
  background-color: #F6FAF8;
}

.fa-angle-right{
  font-size: 1em;
  margin-left: 132px;
  color: #46b986;
}

.content h2{
  font-size: 1.6em;
  font-weight: 300;
  text-transform: uppercase;
  color: #5aa988;
  margin-left: 48px;
  margin-bottom: 40px;
  margin-top: 0px;
}

.content h3{
  font-size: 1.3em;
  font-weight: 300;
  text-transform: uppercase;
  color: #5aa988;
  margin-left: 48px;
  margin-bottom: 10px;
  margin-top: 0px;
}

.content p{
  font-size: 1.3em;
  color: black;
  margin-left: 48px;
  margin-top: 0px;
}

.content .book-home{
  margin-bottom: 40px;
}

.pagination > li > a, .pagination > li > span {
  border: none;
  color: #047d4a;
}

.pagination > li > a:hover,
.pagination > li > span:hover,
.pagination > li > a:focus,
.pagination > li > span:focus {
  color: #30b178;
  background-color: #F6FAF8;
}

.stripe-button {
  width: 205px;
  text-align: center;
  margin-bottom: 40px;
}